body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f7fe;
}

.box {
  position: relative;
  width: 100%;
  height: 20px;
  background: linear-gradient(48deg, royalblue, dodgerblue);
  margin-bottom: 20px;
}